body, html {
	background-color: #d9d9d9;
	color:#333333;
	font-family: "Georgia, serif";
  font-size: 40;
}

.textbox {
  border-style: solid;
  border-width: medium;
  border-color: #ccffcc;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 40;
}

.topnav {
  background-color: #333333;
  overflow: hidden;
  font-weight: bold;
}

.topnav a {
  float: left;
  color: #ccffcc;
  text-align: center;
  vertical-align: text-bottom;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 3vw;
}

.topnav a:hover {
  color: white;
}

.topnav a.active {
  background-color: #ccffcc;
  color: #333333;
  font-size: 3vw;
}