

body, html {
	font-family: "Georgia, serif";
  font-weight: bold;
	color: #ccffcc;
	font-size: 32px;
	text-align: center;
  height: 100%;
}

h1 {
	font-family: "Georgia, serif";
  font-weight: bold;
	font-size: 64px;
  text-align: center;
}

a:link {
  color: #ccffcc;
  text-decoration: none;
}

a:visited {
  color: #ccffcc;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

.cover {
  background-image: url("newcover.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  background-color: #333333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ccffcc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 4vw;
}

.topnav a:hover {
  background-color: black;
  color: #ccffcc;
}

.topnav a.active {
  background-color: #ccffcc;
  color: #333333;
  font-size: 5vw;
}

.center {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
  width: 25%;
  border: 2px solid #ccffcc;
  background-color: none;
  padding: 14px 28px;
  font-size: 32px;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.block:hover {
  border-style: solid;
  border-color: white;
}